@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .slow-transition{
      @apply transition-all duration-300
    }
    
    .sidebar-sm-screen{
      @apply w-10/12 justify-start p-3 py-10 items-start absolute z-10;
    }
    
    .sidebar-lg-screen{
      @apply md:w-3/12  md:p-5 md:justify-center md:items-start md:relative;
    }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
